html {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    background-color: #282828;
    color: whitesmoke;
    padding: 150px 20px;
    max-width: 600px;
    margin: 0 auto;
}
h1 {
    color: goldenrod;
    align-items: center;
}
h2 {
    color: greenyellow;
}

input {
    border-radius: 15px;
    padding-left: 10px;
    margin: 10px 10px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    padding:6px 24px;
    margin: 20px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}


